html{
    font-size:60%;
    font-family:'Times New Roman';

}
body {
background-color:lightsteelblue;
margin:0;
font-size:1.8rem;

}
html{

}
.imgcontainer{
    border:hidden;
    width:135px;
    height:135px;

}
.container{
    padding:0 1rem;
    max-width:95rem;
    margin:0 auto;
    color:crimson;
}
nav{
    background-color:lightslategray;
    line-height:6rem;
    font-size:1.7rem;
}
nav a{
    color:darkblue;
    padding:1rem;
        
}
p::selection {
    background-color: red;
}
p {
    color: black
}
p::first-line {
        font-weight: bold;
        font-style:italic;
        font-family:'Lucida Calligraphy'
}



