@{
    ViewData["Title"] = "Home Page";
}
    <style>
        body{
            background-image:url("/images/last.jpg");
            background-repeat:no-repeat;
            background-size:cover;
            background-attachment: scroll;
            min-height: 100%;
            margin:0;
        }
    </style>
<div class="text-center text-white">
    <h1 class="display-4">Globo Shoe Boutique</h1>
    <p>Welcome the one and only Globo Shoes. This is your number one shop where you can get the latest and 
        greatest shoes without any hassle.
    </p>
</div>
