@{
    ViewData["Title"] = "About";
}
<h1 class="text-white">@ViewData["Title"]</h1>

<p class ="text-white">Welcome to the Diary of A Wimpy Kid BookStore.
    We have a huge collection of the books written by Jeff Kinney.  
    It all started with my son always wanted to have the books as he loved to read them but they where
 hard to come by. So I have decided to have a dedicated Bookstore to house the adventures of Greg and Rowly.  Please
look around at our assortment of books.</p>
