@{
    ViewData["Title"] = "About";
}
    <style>
        body{
            background-image:url("/images/last.jpg");
            background-repeat:no-repeat;
            background-size:cover;
            background-attachment: scroll;
            min-height: 100%;
            margin:0;
        }
    </style>

<h1>@ViewData["Title"]</h1>

<p>Gobo Shoe is a premier shoe boutique, supplying you with Authentic exclusive sneakers.</p>
