
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Gallery.cshtml";
}

<h1>Index</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <img src="~/images/2.jpg" alt="" width="200" height"200" />
      
    </div>
    <div class="col">
      <img src="~/images/3.jpg" alt="" width="200" height"200"/>
      
    </div>
    <div class="col">
      <img src="~/images/4.jpg" alt="" width="200" height"200"/>
      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <img src="~/images/5.jpg" alt="" width="200" height"200" />
      
    </div>
    <div class="col">
      <img src="~/images/6.jpg" alt="" width="200" height"200"/>
      
    </div>
    <div class="col">
      <img src="~/images/7.jpg" alt="" width="200" height"200"/>
      
    </div>
  </div>
</div>

